# This file is a "template" of which env vars need to be defined
# for your application use only on development stages.
# Create real environment variables when deploying to production

# Env name
ENVIRONMENT=development

# Database
DATABASE_NAME=drupal
DATABASE_USER=drupal
DATABASE_PASSWORD=drupal
DATABASE_HOST=mariadb
DATABASE_PORT=3306

# Host
HOST_NAME=drupal.develop
HOST_PORT=80
